.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #1D586E;
}

*{
    margin: 0;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #010546;
    height: 7%;
}

.homebtn{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    height: 80%;
}

h1{
    color: black;
    font-family: Syne;
    font-weight: 800;
}

.leftside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.aboutbtn{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: .9rem 2rem;
    height: 70%;
}

.buttontext{
    color: black;
    font-weight: bold;
    font-family: "Inconsolata", monospace;
}

.teambtn{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: .9rem 2rem;
    height: 70%;
}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: black;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    margin: auto;
}

.container .innercont1{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #1E1E1E;
    border-radius: 15px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.container .innercont1 .text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.container .innercont1 .text2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.normtext{
    color: white;
    font-family: "Inconsolata", monospace;
    font-weight: 112.5;
    font-weight: bold;
    font-size: 2rem;
}

.title{
    color: #1D586E;
    font-family: Syne;
    font-weight: 800;
    font-size: 2rem;
}

.container .innercont1 .text3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.sub{
    color: white;
    font-family: "Inconsolata", monospace;
    font-weight: 112.5;
    font-weight: bold;
    font-size: 1rem;
}

.innercont2{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    border-radius: 15px;
    padding: 1rem;
    width: 40%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.submitbtn{
    display: flex;
    background-color: white;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;    
    width: 40%;
    height: 20%;
    margin: auto;
}

.normtext1{
    color: black;
    font-family: "Inconsolata", monospace;
    font-size: 1.5rem;
}